source https://www.nuget.org/api/v2

framework: netcore11, netstandard16, monoandroid70

nuget FAKE
nuget Fable.Core
nuget FSharp.Core
nuget FSharp.NET.Sdk
nuget Xamarin.Android.FSharp.ResourceProvider
nuget SkiaSharp
nuget SkiaSharp.Views